.movie-content {
	background: red !important;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}

#article1 {
	background: green;
}

article {
	background: purple;
	border: solid pink;
        border-width: 10px;
        border-radius: 5px;
}

#article1 {
	background: yellow;
}
